.container{
    background: yellow;
    padding: 10px;
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: repeat(3, minmax(130px, auto));
}

.item{
    border: 2px solid black;
}

.item-01{
    background: palevioletred;
}

.item-02 {
    background: cornflowerblue;
}

.item-03 {
    background: palegreen;
}

.item-04 {
    background: orange;
}

.item-05 {
    background: cadetblue;
}

.item-06 {
    background: aqua ;
}
.item-07 {
    background: orangered;
}